* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    background-color: #E5E5E5;
}

#Container {
    width: 100%;
    height: auto;
}

#Header {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #000000;
    display: grid;
    grid-template-columns: 10% 90%;
}

.Logo {
    width: 100%;
    height: 80px;
    border-right: 2px solid #000000;
    background-image: url("./Assets/Logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.Links {
    width: 100%;
    height: 80px;
}

.Links span {
    width: 250px;
    height: 80px;
    font-size: 24px;
    float: right;
    border-left: 2px solid #000000;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

#Hero {
    width: 100%;
}

.Scene {
    position: absolute;
    width: 505px;
    height: 585px;

    background: url("./Assets/Rectangle\ 8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.checkBlack {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 220px;
    top: 540px;
    cursor: pointer;
    background: #1E1E22;
}

.checkWhite {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 270px;
    top: 540px;
    cursor: pointer;
    background: #ffffff;
}

.Rotate {
    position: absolute;
    left: 210px;
    top: 680px;
    text-decoration: underline;
    font-size: 20px;
    color: #353538;
}

.Scene2 {
    width: 483px;
    height: 412px;
    float: right;

    background: url("./Assets/Rectangle\ 16.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#Hero h1 {
    position: absolute;
    left: 400px;
    top: 500px;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    color: #353538;
}

.Para {
    position: absolute;
    width: 617px;
    height: 105px;
    left: 210px;
    top: 720px;
    font-size: 18px;
    color: rgba(30, 30, 34, 0.7);
}

.Cart {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 850px;
    top: 720px;
    border: 1px solid #1E1E22;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #1E1E22;
}